<!DOCTYPE html>
<html>
<head>
    <title>疫情监控系统</title>
    <meta charSet="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta httpEquiv="Cache-Control" content="no-siteapp" />
    <meta name="renderer" content="webkit" />
    <meta name="keywords" content="demo" />
    <meta name="description" content="demo" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script th:src="@{/dist/js/lib/viewport/viewport.js}"></script>
    <script th:src="@{/dist/patient/ymPrompt/ymPrompt_source.js}"></script>
    <script th:src="@{/dist/patient/ymPrompt/ymPrompt.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/_common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/patient/ymPrompt/skin/bluebar/ymPrompt.css}">
</head>

<body>
<div class="fullpage-warp" id="fullpage">
    <!-- 第一屏 -->
    <div class="section fullpage-section">
        <div class="main-wrapper mar-box fn-clear">
            <!-- 应急储备情况 -->
            <div class="emergency-reserve-info">
                <div class="title-head">
                    <h3>全省应急物资储备情况</h3>
                    <div class="title-line"></div>
                </div>
                <!-- 第一部分 -->
                <div class="material-type fn-clear">
                    <div class="col-8">
                        <div class="piece">
                            <img src="../../dist/img/system_content_kouzhao.png" alt="口罩" class="item_logo">
                            <div class="type-count" id="n95kzs">0<span>个</span></div>
                            <div class="type-name">N95口罩</div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="piece">
                            <img src="../../dist/img/system_content_yanjing.png" alt="防护眼镜" class="item_logo">
                            <div class="type-count" id="fhyj"> >0<span>个</span></div>
                            <div class="type-name">防护眼镜(防雾型)</div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="piece">
                            <img src="../../dist/img/system_content_kouzhao.png" alt="口罩" class="item_logo">
                            <div class="type-count" id="gly" >0<span>件</span></div>
                            <div class="type-name">隔离衣</div>
                        </div>
                    </div>
                </div>
                <!-- 第二部分 -->
                <div class="material-dec">
                    <div class="box-item fn-clear">
                        <div class="item_name"  >全面型呼吸防护器</div>
                        <div class="item_number" id="qmxhxfhq">0<span>个</span></div>
                    </div>
                    <div class="box-item fn-clear">
                        <div class="item_name"  >防水围裙</div>
                        <div class="item_number" id="fswq" >0<span>件</span></div>
                    </div>
                    <div class="box-item fn-clear">
                        <div class="item_name"   >手消液</div>
                        <div class="item_number" id="sxy" >0<span>个</span></div>
                    </div>
                    <div class="box-item fn-clear">
                        <div class="item_name"   >消毒用品</div>
                        <div class="item_number" id="xdypsfdq" >0<span>个</span></div>
                    </div>
                    <div class="box-item fn-clear"  >
                        <div class="item_name" >救护车</div>
                        <div class="item_number" id="jhc" >0<span>辆</span></div>
                    </div>
                    <div class="box-item fn-clear" >
                        <div class="item_name"   >预留重症监护室床位数</div>
                        <div class="item_number" id="ylcws" >0<span>个</span></div>
                    </div>
                </div>
                <!-- 第三部分 -->
                <div class="material-type fn-clear">
                    <div class="col-8">
                        <div class="piece">
                            <img src="../../dist/img/system_content_fuyabingfang.png" alt="负压病房" class="item_logo">
                            <div class="type-count" id="fybf" >0<span>个</span></div>
                            <div class="type-name">负压病房</div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="piece">
                            <img src="../../dist/img/system_content_jiuhuche.png" alt="负压转运车" class="item_logo">
                            <div class="type-count" id="fyzyc" >0<span>个</span></div>
                            <div class="type-name">负压转运车</div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="piece">
                            <img src="../../dist/img/system_content_fuyadanjia.png" alt="负压担架" class="item_logo">
                            <div class="type-count"id="fydj">0<span>件</span></div>
                            <div class="type-name">负压担架</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 中间部分 -->
            <div class="content-box ">
                <div class="content-part1 fn-clear">

                    <div class="col-4">
                        <div class="piece">
                            <div class="piece-title">
                                <i class="title-line-2"></i>
                                <span>确诊病例数</span>
                            </div>
                            <div class="item-count orange-color" id="qzbl_count">0</div>
<!--                            <div class="item-countbg">888888</div>-->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="piece">
                            <div class="piece-title">
                                <i class="title-line-2"></i>
                                <span>疑似病例数</span>
                            </div>
                            <div class="item-count yellow-color" id="ysbl_count">0</div>
<!--                            <div class="item-countbg">888888</div>-->
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="piece">
                            <div class="piece-title">
                                <i class="title-line-2"></i>
                                <span>治愈人数</span>
                            </div>
                            <div class="item-count color-47f0ff" id="cy_count">0</div>
<!--                            <div class="item-countbg">888888</div>-->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="piece">
                            <div class="piece-title">
                                <i class="title-line-2"></i>
                                <span>死亡人数</span>
                            </div>
                            <div class="item-count red-color" id="sw_count">0</div>
<!--                            <div class="item-countbg">888888</div>-->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="piece">
                            <div class="piece-title">
                                <i class="title-line-2"></i>
                                <span>发热门诊人次</span>
                            </div>
                            <div class="item-count green-color six" id="drfrmzjzrc_count">0</div>
<!--                            <div class="item-countbg">888888</div>-->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="piece">
                            <div class="piece-title">
                                <i class="title-line-2"></i>
                                <span>发热留观人次</span>
                            </div>
                            <div class="item-count color-47f0ff six" id="drfrmzlgrc_count">0</div>
<!--                            <div class="item-countbg">888888</div>-->
                        </div>
                    </div>
                </div>
                <!-- 中间第二部分 -->
                <div class="areaName">甘肃省</div>
                <div class="areaName-back"><i></i>返回上一级</div>
                <div class="cc_part2" id="main_gansu">
                    <!-- 此处放置echarts地区图 -->
                </div>

                <div class="content-part3">
                    <div class="subtitle">
                        <span>全省新型冠状病毒肺炎疫情监控趋势分析</span>
                        <i class="light1"></i>
                    </div>
                    <div id="chart_line"></div>
                </div>
            </div>
            <!-- 左侧部分 -->
            <div class="left-part">

                <!-- 第二部分 -->
                <div class="left-part2">
                    <div class="title-head">
                        <h3>确诊病例数统计情况</h3>
                        <div class="title-line"></div>
                        <div class="cr_tab">
                            <div class="tab_item tab_active" value="dt">当天数</div>
                            <div class="tab_item" value="lj">累计数</div>
                        </div>
                    </div>
                    <div class="material-type fn-clear">
                        <div class="col-8">
                            <div class="piece">
                                <img src="../../dist/img/system_content_quezhen.png" alt="确诊" class="item_logo">
                                <div class="type-count" id="isqzbl">0<span>人</span></div>
                                <div class="type-name">确诊病例数</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="piece">
                                <img src="../../dist/img/system_content_quezhenyiwu.png" alt="确诊医务人员" class="item_logo">
                                <div class="type-count" id="qzblwywry" >0<span>人</span></div>
                                <div class="type-name">确诊病例为医务人员数</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="piece">
                                <img src="../../dist/img/system_content_zhongzheng.png" alt="重症" class="item_logo">
                                <div class="type-count"id="qzbliszz"  >0<span>人</span></div>
                                <div class="type-name">确诊病例重症病例数</div>
                            </div>
                        </div>
                    </div>
                    <div class="material-type fn-clear">
                        <div class="col-8">
                            <div class="piece">
                                <img src="../../dist/img/system_content_bingwei.png" alt="病危" class="item_logo">
                                <div class="type-count" id="qzbliswzz"  >0<span>人</span></div>
                                <div class="type-name">确诊病例危重症病例数</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="piece">
                                <img src="../../dist/img/system_content_siwang.png" alt="死亡" class="item_logo">
                                <div class="type-count" id="qzblissw" >0<span>人</span></div>
                                <div class="type-name">确诊病例死亡病例数</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="piece">
                                <img src="../../dist/img/system_content_zhiyu.png" alt="治愈" class="item_logo">
                                <div class="type-count" id="qzbliscy"  >0<span>人</span></div>
                                <div class="type-name">确诊病例治愈病例数</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第三部分 -->
                <div class="left-part3">
                    <div class="title-head">
                        <h3>疑似病例数统计情况</h3>
                        <div class="title-line"></div>
                        <div class="cr_tab">
                            <div class="tab_item tab_active" value="hz" >全部</div>
                            <div class="tab_item"  value="ywry">医务人员</div>
                        </div>
                    </div>
                    <div class="flex-wrap flex-wrap2">
                        <div class="item">
                            <div class="type-count green-color" id="ljysData" >0<span>人</span></div>
                            <div class="type-name">累计疑似病例人数</div>
                        </div>
                        <div class="item">
                            <div class="type-count color-47f0ff" id="zrysData"  >0<span>人</span></div>
                            <div class="type-name">昨日新增疑似病例人数</div>
                        </div>
                        <div class="item">
                            <div class="type-count color-fba721" id="ysjcData"  >0<span>人</span></div>
                            <div class="type-name">累计解除疑似病例人数</div>
                        </div>
                    </div>
                </div>
                <!-- 第一部分 -->
                <div class="left-part1">
                    <div class="title-head">
                        <h3>发热留观人数情况</h3>
                        <div class="title-line"></div>
                        <div class="cr_tab">
                            <!-- <div class="tab_item tab_active" value="hz">患者</div>-->
                            <!-- <div class="tab_item"value="ywry" >医务人员</div>-->
                        </div>
                    </div>
                    <div class="flex-wrap flex-wrap1">
                        <div class="item">
                            <div class="type-count green-color" id="ljlgrc" >0<span>人</span></div>
                            <div class="type-name" >昨日发热门诊人次数</div>
                        </div>
                        <div class="item">
                            <div class="type-count color-fba721" id="drfrmzlgrc" >0<span>人</span></div>
                            <div class="type-name" >昨日留观人次数</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 第二屏 -->
    <div class="section fullpage-section">
        <!-- 头部结束 正文开始 -->
        <div class="second-screen">
            <!-- 左侧部分开始 -->
            <div class="content-left">
                <div class="chart-wrap">
                    <div class="subtitle">
                        <span>各市州新型冠状病毒肺炎疫情监控情况</span>
                        <i class="light1"></i>
                    </div>
                    <div id="chart_bar1">
                    </div>
                </div>
                <div class="chart-wrap">
                    <div class="subtitle">
                        <span>定点医疗机构患者收治情况（TOP10）</span>
                        <i class="light1"></i>
                    </div>
                    <div id="chart_bar2"></div>
                </div>
            </div>
            <!-- 左侧部分结束 -->
            <!-- 右侧部分开始 -->
            <div class="content-right">
                <div class="subtitle">
                    <span>各市州新型冠状病毒肺炎疫情监控情况</span>
                    <i class="light2"></i>
                </div>
                <div class="table-warp" id="szgzjbDiv">
                    <div class="table-head font-size1">
                        <span class="col col1">地区</span>
                        <span class="col col3">确诊</span>
                        <span class="col col2">疑似</span>
                        <span class="col col5">治愈</span>
                        <span class="col col4">死亡</span>

                    </div>
                 <!--   <div class="row-wrap font-size2">
                        <span class="col col1">全省</span>
                        <span class="col col2 font-fcdb0f" onclick="showPatientList('62','1')">100</span>
                        <span class="col col3 font-ff8440">10</span>
                        <span class="col col4">0</span>
                        <span class="col col5 font-32e9c8">8</span>
                    </div>
                    <ul class="city-state-data">
                        <li class="area-li">
                            <div class="first-box">
                                    <span class="col col1"><i class="triangle-icon"></i><span>兰州</span>
                                    </span>
                                <span class="col col2 orange-color">10</span>
                                <span class="col col2 yellow-color">10</span>
                                <span class="col col2 green-color">1</span>
                                <span class="col col2 white-color">8</span>
                            </div>
                            <div class="second-box fn-clear">
                                <dl>
                                    <dt class="sec-dt">
                                            <span class="col col1"><span>七里河</span>
                                            </span>
                                        <span class="col col2 orange-color">10</span>
                                        <span class="col col2 yellow-color">10</span>
                                        <span class="col col2 green-color">1</span>
                                        <span class="col col2 white-color">8</span>
                                    </dt>
                                    <dt class="sec-dt">
                                            <span class="col col1"><span>城关区</span>
                                            </span>
                                        <span class="col col2 orange-color">10</span>
                                        <span class="col col2 yellow-color">10</span>
                                        <span class="col col2 green-color">1</span>
                                        <span class="col col2 white-color">8</span>
                                    </dt>
                                    <dt class="sec-dt">
                                            <span class="col col1"><span>七里河</span>
                                            </span>
                                        <span class="col col2 orange-color">10</span>
                                        <span class="col col2 yellow-color">10</span>
                                        <span class="col col2 green-color">1</span>
                                        <span class="col col2 white-color">8</span>
                                    </dt>
                                    <dt class="sec-dt">
                                            <span class="col col1"><span>城关区</span>
                                            </span>
                                        <span class="col col2 orange-color">10</span>
                                        <span class="col col2 yellow-color">10</span>
                                        <span class="col col2 green-color">1</span>
                                        <span class="col col2 white-color">8</span>
                                    </dt>
                                </dl>
                            </div>
                        </li>
                        <li class="area-li">
                            <div class="first-box">
                                    <span class="col col1"><i class="triangle-icon"></i><span>兰州</span>
                                    </span>
                                <span class="col col2 orange-color">10</span>
                                <span class="col col2 yellow-color">10</span>
                                <span class="col col2 green-color">1</span>
                                <span class="col col2 white-color">8</span>
                            </div>
                            <div class="second-box fn-clear">
                                <dl>
                                    <dt class="sec-dt">
                                            <span class="col col1"><span>七里河</span>
                                            </span>
                                        <span class="col col2 orange-color">10</span>
                                        <span class="col col2 yellow-color">10</span>
                                        <span class="col col2 green-color">1</span>
                                        <span class="col col2 white-color">8</span>
                                    </dt>
                                    <dt class="sec-dt">
                                            <span class="col col1"><span>城关区</span>
                                            </span>
                                        <span class="col col2 orange-color">10</span>
                                        <span class="col col2 yellow-color">10</span>
                                        <span class="col col2 green-color">1</span>
                                        <span class="col col2 white-color">8</span>
                                    </dt>
                                    <dt class="sec-dt">
                                            <span class="col col1"><span>七里河</span>
                                            </span>
                                        <span class="col col2 orange-color">10</span>
                                        <span class="col col2 yellow-color">10</span>
                                        <span class="col col2 green-color">1</span>
                                        <span class="col col2 white-color">8</span>
                                    </dt>
                                    <dt class="sec-dt">
                                            <span class="col col1"><span>城关区</span>
                                            </span>
                                        <span class="col col2 orange-color">10</span>
                                        <span class="col col2 yellow-color">10</span>
                                        <span class="col col2 green-color">1</span>
                                        <span class="col col2 white-color">8</span>
                                    </dt>
                                </dl>
                            </div>
                        </li>
                    </ul>-->
                </div>
            </div>
            <!-- 右侧部分结束 -->
            <!-- 正文结束 -->
        </div>
    </div>
</div>
    <script th:src="@{/dist/js/lib/jquery/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/dist/js/lib/backstretch/jquery.backstretch.min.js}"></script>
    <script th:src="@{/dist/js/lib/echarts/echarts4.js}"></script>
    <script th:src="@{/dist/js/lib/gq.js}"></script>
<script th:src="@{/dist/js/lib/pie_echart.js}"></script>
    <script th:src="@{/dist/js/lib/wjj.js}"></script>
    <script th:src="@{/dist/js/lib/fullpage/jquery.fullpage.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/lib/dataInterface.js}"></script>
<script th:src="@{/dist/js/lib/wjj.js}"></script>
<script th:src="@{/dist/js/lib/fullpage/jquery.fullpage.js}"></script>
    <script th:src="@{/dist/business/js/gzbdAnalisy.js?v=20200127}"></script>
<script th:src="@{/dist/js/lib/pie_echart.js}"></script>
    <script th:src="@{/dist/js/lib/wjj.js?v=20200127}"></script>
    <script th:src="@{/dist/js/lib/fullpage/jquery.fullpage.js}"></script>
<script th:src="@{/dist/js/lib/dataInterface.js}"></script>
<script th:src="@{/dist/js/lib/DateUtil.js}"></script>
<script th:src="@{/dist/business/js/publicCommon.js??v=20200127}"></script>
<script th:src="@{/dist/business/js/index_wzcb.js??v=20200127}"></script>

    <script>

        $(function() {
            // fullpage
            $('#fullpage').fullpage({
                anchors: ['firstPage', 'secondPage'],
                navigation: true,
                navigationPosition: 'right',
                showActiveTooltip: true,
                controlArrows: false,
                scrollingSpeed: 500,
                css3: true,
                keyboardScrolling: true,
                loopHorizontal: false,
                keyboardScrolling: false,
                onLeave: function(index, nextIndex, direction) {},
                afterLoad: function(anchorLink, index) {},
                afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex) {}
            });
        });
        function showPatientList(areaCode,patientState){
            ymPrompt.win({message:'../../patientInfo/list?areaCode=' + areaCode + '&patientState=' + patientState,width:1100,height:450,title:'新型冠状病毒肺炎患者详细情况',handler:null,iframe:true});
        }

    </script>
</body>

</html>